:root {
    --font-scale: 1;
    --bg-light: rgb(250,250,250);
    --bg-lighter: white;
    --bg-dark: #333;
    --bg-darker: #222;
    --sym-default: -apple-system, BlinkMacSystemFont, "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "STHeiti", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --noto-serif: 'Noto Serif SC', 'Noto Serif TC';
    --noto-sans: 'Noto Sans SC', 'Noto Sans TC';
    --google-sans: 'Google Sans Flex';
}

@font-face {
    font-family: '京華老宋体';
    src: url("京華老宋体v2.002.woff2") format("truetype");
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    max-width: 80%;
    font-size: 25px;
    white-space: nowrap;
    font-family: 'EB Garamond';
}

body {
    font-family: var(--google-sans);
    line-height: 1.7;
    overflow: hidden;
}

.app-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 15%;
    padding: 15px;
    overflow-y: auto;
    background-color: var(--bg-lighter);
}

.info {
    max-width: 300px;
    margin: 20px;
    padding-top: 50px;
    font-family: var(--noto-serif);
}

.info h3 {
    margin-top: 10px;
    line-height: 50px;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.info h3:hover {
    color: #111;
}

.info p {
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #555;
}

.info p:hover {
    color: #333;
}

.info a {
    text-decoration: none;
    color: inherit;
}


.fontsizesetting {
    padding-left: 15px;
}

.fontsizesetting button {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: -5px;
    padding: 2.5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    background-color: inherit;
    font-size: 17px;
    font-family: var(--noto-serif);
    color: #333;
}

.fontsizesetting button:hover {
    background-color: lightgrey;
    font-weight: 500;
    color: #111;
}

.fontfamilysetting {
    padding-left: 15px;
}

.fontfamilysetting button {
    display: flex;
    width: 100%;
    margin-top: 0;
    margin-bottom: -1px;
    margin-right: -6.3px;
    padding: 2.5px;
    padding-left: 8px;
    border: 1px solid black;
    border-left: 6px solid black;
    background-color: inherit;
    font-size: 17px;
    font-family: var(--noto-serif);
    color: #333;
}

.fontfamilysetting button:hover {
    background-color: lightgrey;
    color: #111;
}

.direct p {
    padding-left: 18px;
    border-radius: 20px;
}

.direct p:hover {
    background-color: lightgrey;
}

.main-content {
    flex: 1;
    background-color: var(--bg-light);
    overflow-y: auto;
    padding: 10px;
}

.hero {
    margin-top: 250px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero h1 {
    font-size: 64px;
    letter-spacing: 4px;
    font-family: '京華老宋体';
    font-weight: normal;
}

.hero h2 {
    font-size: 32px;
    letter-spacing: 2px;
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: normal;
}

.search-bar {
    margin: auto;
    margin-bottom: 50px;
    border: 2px solid lightgrey;
    display: flex;
    align-items: center;
    background-color:white;
    border-radius: 50px;
    padding: 5px 15px;
    width: 40%;
    transition: all 0.1s ease;
}

.search-bar:focus-within {
    border-color: #1a73e8;
    box-shadow: 0 0 4px rgba(32,33,36,0.28);
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    padding: 8px;
    letter-spacing: 0.25px;
    font-size: 17px;
    font-family: 'Google Sans Flex';
    color: #333;
}

.search-bar .search-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    color: #5f6368;
}

.search-bar .search-btn:hover {
    color: #1a73e8;
}

.flex-container {
    display: flex;
    max-width: 75%;
    margin: auto;
    border-radius: 25px;
    background-color: white;
    grid-template-columns: 3fr 2fr 1fr;
    flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
}

.column {
    max-width: 30%;
    flex: 1;
}

.card {
    margin: auto;
    padding: 10px;
    grid-template-columns: 2fr 1fr;
    font-family: var(--noto-serif);
}

.card h2 {
    line-height: normal;
    overflow: hidden;
    font-weight: 600;
    color: #333;
}

.card h2:hover {
    color: #111;
}

.card p {
    line-height: normal;
    overflow: hidden;
    color: #555;
    font-weight: 400;
}

footer {
    text-align: center;
    padding: 30px;
    margin-top: 40px;
    letter-spacing: 0.5px;
    color: #777;
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.article {
    flex: 1;
    padding-left: 10%;
    padding-right: 40%;
    background-color: rgb(250, 250, 250);
    font-family: var(--noto-serif);
    overflow-y: auto;
}

.article h1 {
    margin-top: calc(20px * var(--font-scale));
    font-size: calc(40px * var(--font-scale));
    font-weight: 800;
}

.article h2 {
    margin-top: calc(15px * var(--font-scale));
    font-size: calc(30px * var(--font-scale));
    font-weight: 600;
}

.article p {
    margin-top: calc(10px * var(--font-scale));
    font-size: calc(20px * var(--font-scale));
    font-weight: 400;
}

@media (prefers-color-scheme: dark) {
    .sidebar {
        background: var(--bg-darker);
    }
    
    .info h3 {
        margin-top: 20px;
        line-height: 50px;
        letter-spacing: 1.5px;
        font-size: 18px;
        font-weight: 500;
        color: #ddd;
    }
    
    .info h3:hover {
        color: #fff;
    }
    
    .info p {
        line-height: 40px;
        letter-spacing: 1px;
        font-size: 17px;
        font-weight: 400;
        color: #bbb;
    }
    
    .info p:hover {
        color: #ddd;
    }
    
    .main-content {
        background-color: var(--bg-dark);
    }
    
    .flex-container {
        background-color: var(--bg-darker);
    }
    
    .card h2 {
        color: #ddd;
    }
    
    .card h2:hover {
        color: #fff;
    }
    
    .card p {
        line-height: normal;
        overflow: hidden;
        color: #bbb;
        font-weight: 400;
    }
    
    footer {
        text-align: center;
        padding: 30px;
        margin-top: 40px;
        letter-spacing: 0.5px;
        color: #aaa;
    }

}






